@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

html {
  overflow-x: hidden; 
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(5deg); /* Clockwise 1/8 turn */
  }
}

.animate-spin-slow {
  animation: rotate 3s linear infinite;
}

.custom-shift-left {
  position: relative;
  left: -72px; /* Shifts the element 72px to the left */
}

@media (min-width: 1280px) {
  /* Tailwind's default 'xl' breakpoint */
  .xl\:reduce-width {
    width: calc(48% - 64px); /* Reduces the width by 72px */
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--foreground-rgb), 0.4);
  border-radius: 6px;
  border: 1px solid rgba(var(--background-start-rgb), 1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--foreground-rgb), 0.6);
}

#AutoComplete::placeholder {
  color: rgb(0, 0, 0); /* This will make the placeholder text black */
}


  